@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    background: url(../imag/projeto-social/pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    height: 630px;
    width: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(../imag/projeto-social/pacote-d013/imagens/frame-iphone.png) no-repeat top center;
}
iframe#tela {
    position: relative;
    top: 80px;
    left: 20px;
    width: 270px;
    height: 472px;
}

section#redes-sociais {
    padding: 16px;
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.76);
}

section#redes-sociais img:hover {
  border: 2px solid rgba(255, 255, 255, 0.678);
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.76);
  transition: transform -3s, border .8s;
}